ul {
  list-style: none;
  padding: 0;
}

.logo {
  margin-top: 12px;
  color: var(--secondary);
  text-align: center;
}

.logo span {
  color: #fff;
}

.contact-wrapper {
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
}

.contact-wrapper > * {
  padding: 1em;
}

.contact-form {
  margin: 24px;
  border-radius: 5px;
  background: var(--secondary);
  color: #fff;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form form label {
  display: block;
}

.contact-form form p {
  margin: 0;
  padding: 1em;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
  width: 100%;
  padding: 0.7em;
  border: none;
  background: none;
  outline: 0;
  color: #fff;
  border-bottom: 1px solid #fff;
}

.contact-form form textarea {
  border: 1px solid #fff;
}

.contact-form form button {
  background: var(--primary);
  border: 2px solid #fff;
  border-radius: 2px;
  text-transform: uppercase;
  padding: 1em;
}

.contact-form form button:hover,
.contact-form form button:focus {
  background: #000;
  color: #fff;
  transition: background-color 1s ease-out;
  outline: 0;
}

/* LARGE SIZE */
@media (min-width: 700px) {
  .contact-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .contact-wrapper > * {
    padding: 2em;
  }
  .contact-info h4,
  .contact-info ul,
  .contact-info p {
    text-align: left;
  }
}
