:root {
  --primary: #3b4856;
  --secondary: #007394;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style-type: none;
}

.wrapper {
  width: 100vw;
  height: 100vh;
}
