:root {
  --primary: #3b4856;
  --secondary: #007394;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style-type: none;
}

.wrapper {
  width: 100vw;
  height: 100vh;
}

.landscape-msg {
  display: none;
}

@media (orientation: landscape) {
  body {
    overflow: hidden;
  }
  .landscape-msg {
    display: flex;
    background-color: var(--primary);
    width: 100vw;
    height: 100vh;
    color: #fff;
    position: fixed;
    z-index: 1000;
    align-items: center;
    justify-content: center;
  }
  .landscape-msg-circle {
    width: 50vh;
    height: 50vh;
    border-radius: 50%;
    background-color: var(--secondary);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .landscape-msg-circle h2 {
    text-align: center;
  }
}
