.rect {
  background-color: var(--primary);
  height: 50%;
  padding: 24px;
  text-align: center;
  color: #fff;
}

a {
  color: white;
}

.wheel {
  background-color: var(--secondary);
  position: absolute;
  left: calc(50vw - (min(75vw, 400px) / 2));
  top: calc(50vh - (min(75vw, 400px) / 2));
  width: min(75vw, 400px);
  height: min(75vw, 400px);
  border-radius: 50%;
  color: #fff;
}

.wheel * {
  display: inline-block;
  position: absolute;
  transform-origin: 50% 50%;
}

.landscape-msg {
  display: none;
}

@media (orientation: landscape) {
  body {
    overflow: hidden;
  }
  .landscape-msg {
    display: flex;
    background-color: var(--primary);
    width: 100vw;
    height: 100vh;
    color: #fff;
    position: fixed;
    z-index: 1000;
    align-items: center;
    justify-content: center;
  }
  .landscape-msg-circle {
    width: 50vh;
    height: 50vh;
    border-radius: 50%;
    background-color: var(--secondary);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .landscape-msg-circle h2 {
    text-align: center;
  }
}
