.rect {
  background-color: var(--primary);
  height: 50%;
  padding: 24px;
  text-align: center;
  color: #fff;
}
.rect i {
  display: inline-block;
  margin-top: 24px;
}

a {
  color: white;
}

.wheel {
  background-color: var(--secondary);
  position: absolute;
  left: calc(50vw - (min(75vw, 400px) / 2));
  top: calc(50vh - (min(75vw, 400px) / 2));
  width: min(75vw, 400px);
  height: min(75vw, 400px);
  border-radius: 50%;
  color: #fff;
  touch-action: none;
}

.wheel * {
  display: inline-block;
  position: absolute;
  transform-origin: 50% 50%;
}
